* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Arial','sans-serif';
}

.DD {
    position:absolute;
    left:calc(13.5%);
}

body {
    overflow-x: hidden;
}

.image {
    position:absolute;
    margin-left: 15%;
    transform: rotate(90deg);
    top:calc(10%);
}

.button1 {
    margin-left:calc(86%);
}

.button2 {
    margin-left:calc(8%);
}