* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial','sans-serif';
}

.card {
    position: absolute;
    top: calc(25%);
    margin-left: calc(15%);
    margin-right: calc(15%);
}